/* Estilos para la sección de Cita */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('../images/fondonubes-quote.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #333;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.quote-section .column {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.quote-icon {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
  align-self: center;
  padding-top: 80px;
}

.quote {
  font-size: 2rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
}

.quote-author {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  background: none;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .quote-section {
    padding: 60px 20px;
    background-size: cover; 
    background-position: center; 
  }

  .quote {
    font-size: 1.5rem;
  }

  .quote-icon {
    font-size: 2rem;
    padding-top: 0;
  }

  .quote-author {
    font-size: 1rem;
  }
}